- name: G4 Doorbell Pro
  url: https://store.ui.com/collections/unifi-protect/products/g4-doorbell-pro
- name: Connect Display 13
  url: https://store.ui.com/collections/early-access/products/unifi-connect-display-13-ea
- name: Connect Display 13" Recessed Mount
  url: https://store.ui.com/collections/early-access/products/connect-display-13-recessed-mount-ea
